body {
    font-family: "Roboto", Futura, sans-serif;
    margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}
