@media (min-width: 599px) {

}

@media (min-width: 600px) and (max-width: 899px) {

}

@media (min-width: 900px) {

}

.section-instructor {
  position: relative;
  /* handle min width scenario */
  background: no-repeat url(img/instructor.jpg) 50% / 100%;
}

.instructor-image {
  vertical-align:top;
  width: 100%;
  opacity: 0;
}

.instructor_wrap {
  /* layout rules */
   position: absolute;
   width: 40%;
   min-width: 375px;
   overflow: hidden;
   border: 1px solid red;
   /* layout settings */
   padding-top: 15px;
   top: 50%;
   transform: translateY(-50%);
 }

.instructor_meet {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 53px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.instructor_name {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.instructor_title {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 21px;
}

.instructor_bio {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
}
