@media (max-width: 479px) {
  .instructor_wrap {
    width: 100%;
    background-color: #E66244;
    /* layout settings */
    margin-left: 0px;
    padding: 20px;
  }

  .instructor_meet {
    font-size: 16px;
    line-height: 50px;
  }

  .instructor_name {
    font-size: 30px;
    line-height: 32px;
  }

  .instructor_title {
    font-size: 22px;
    line-height: 18px;
  }

  .instructor_bio {
    font-size: 14px;
    line-height: 20px;
  }
  .instructor-image {
    vertical-align:top;
    width: 100%;
    opacity: 1;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .instructor_wrap {
    width: 100%;
    background-color: #E66244;
    /* layout settings */
    margin-left: 0px;
    padding: 20px;
  }

  .instructor_meet {
    font-size: 16px;
    line-height: 50px;
  }

  .instructor_name {
    font-size: 30px;
    line-height: 32px;
  }

  .instructor_title {
    font-size: 22px;
    line-height: 18px;
  }

  .instructor_bio {
    font-size: 14px;
    line-height: 20px;
  }
  .instructor-image {
    vertical-align:top;
    width: 100%;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .instructor_wrap {
    position: absolute;
    width: 40%;
    min-width: 375px;
    overflow: hidden;
    /* layout settings */
    padding-top: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
  }

  .instructor_meet {
    font-size: 18px;
    line-height: 53px;
  }

  .instructor_name {
    font-size: 36px;
    line-height: 38px;
  }

  .instructor_title {
    font-size: 22px;
    line-height: 25px;
  }

  .instructor_bio {
    font-size: 16px;
    line-height: 22px;
  }
  .instructor-image {
    vertical-align:top;
    width: 100%;
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .instructor_wrap {
    position: absolute;
    width: 40%;
    min-width: 375px;
    overflow: hidden;
    /* layout settings */
    padding-top: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
  }

  .instructor_meet {
    font-size: 18px;
    line-height: 53px;
  }

  .instructor_name {
    font-size: 36px;
    line-height: 38px;
  }

  .instructor_title {
    font-size: 22px;
    line-height: 25px;
  }

  .instructor_bio {
    font-size: 20px;
    line-height: 28px;
  }
  .instructor-image {
    vertical-align:top;
    width: 100%;
    opacity: 0;
  }
}

.section-instructor {
  position: relative;
  /* handle min width scenario */
  background: no-repeat url(img/instructor.jpg) 50% / 100%;
}

.instructor-image {
  vertical-align:top;
  width: 100%;
}

.instructor_meet {
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.instructor_name {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.instructor_title {
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
  padding-bottom: 21px;
}

.instructor_bio {
  color: #FFFFFF;
  font-weight: 300;
  margin: 0;
}
