@media (min-width: 599px) {

}

@media (min-width: 600px) and (max-width: 899px) {

}

@media (min-width: 900px) {

}

.section-instructor {
  background-image: url(img/instructor.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 701px;
}

.instructor_wrap {
  width: 35%;
  min-width: 375px;
  // height: inherit;
  // margin: 100px 0px 0px 75px;
  display: inline-block;
  border: 1px solid red;
}

.instructor_meet {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 53px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.instructor_name {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.instructor_title {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 21px;
}

.instructor_bio {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
}
