@media (max-width: 599px) {
  .intro-text {
    font-size: 22px;
  }
  .img-divider {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .intro-text {
    font-size: 28px;
  }
}

@media (min-width: 900px) {
  .intro-text {
    font-size: 32px;
  }
}

.section-intro {
  margin: 0 auto;
  margin-top: 150px;
}

.intro-text {
  color: #C3BFBF;
  text-align: center;
  font-weight: 300;
  width: 70%;
  margin: auto;
}

.img-divider {
  margin: 0 auto;
  margin-top: 77px;
  margin-bottom: 127px;
  display: block;
  max-width: 556px;
}
