.section-intro {
  margin: 0 auto;
  margin-top: 150px;
}

.intro-text {
  color: #C3BFBF;
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  width: 70%;
  margin: auto;
}

.img-divider {
  margin: 0 auto;
  margin-top: 77px;
  margin-bottom: 127px;
  display: block;
}
