@media (max-width: 599px) {
  .quote {
    font-size: 28px;
    line-height: 44px;
  }
}

@media (min-width: 600px) {
  .quote {
    font-size: 38px;
    line-height: 54px;
  }
}

@media (min-width: 900px) {
  .quote {
    font-size: 48px;
    line-height: 64px;
  }
}

.section-quote {
  height: 626px;
}

.quote {
  color: #E66244;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 75%;
  padding: 170px 0px 74px 0px;
  margin: 0 auto;
}

.quote-author {
  color: #AAAAAA;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.quote-authorinfo {
  color: #AAAAAA;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.quote-authorinfo a {
  color: #AAAAAA;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
}
