@media (min-width: 320px) {
  .quote {
    font-size: 28px;
    line-height: 44px;
    padding: 50px 0px 74px 0px;
  }
}

@media (min-width: 480px) {
  .quote {
    font-size: 34px;
    line-height: 50px;
    padding: 70px 0px 74px 0px;

  }
}

@media (min-width: 768px) {
  .quote {
    font-size: 44px;
    line-height: 60px;
    padding: 120px 0px 74px 0px;

  }
}

@media (min-width: 1024px) {
  .quote {
    font-size: 48px;
    line-height: 64px;
    padding: 170px 0px 74px 0px;
  }
}

.section-quote {
  height: 626px;
}

.quote {
  color: $orange;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.quote-author {
  color: #AAAAAA;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.quote-authorinfo {
  color: #AAAAAA;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.quote-authorinfo a {
  color: #AAAAAA;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
}
