$red: #ff3300;
$blue: #0000ff;
$green: #009900;

@import "partials/general";
@import "partials/header";
@import "partials/intro";
@import "partials/coursegoals";
@import "partials/meetcolearners";
@import "partials/instructor";
@import "partials/testimonial";
@import "partials/signupfooter";
