//
// Mixins
//

/*-------------------------------------------
	Clearfix
-------------------------------------------*/

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

/*-------------------------------------------
	Media Queries
-------------------------------------------*/

@mixin min-up($min) {
	@media only screen and (min-width: $min) { @content; }
}

@mixin max-down($max) {
	@media only screen and (max-width: $max) { @content; }
}

@mixin min-max($min, $max) {
	@media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

/*-------------------------------------------
	UL/OL reset
-------------------------------------------*/

@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/*-------------------------------------------
	Vertical Centering
-------------------------------------------*/

@mixin vertical-align($val: 47%) {

	// unset
	@if $val == 'none' {
	    top: auto;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
              transform: none;

   	} @else {
        position: relative;
        top: $val;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
   	}
}


//
// Variables
//

$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$orange: #E66244;
$nav-switch: 768px;

//
// Partials
//

@import "partials/normalize";

@import "partials/general";
@import "partials/header";
@import "partials/intro";
@import "partials/coursegoals";
@import "partials/meetcolearners";
@import "partials/instructor";
@import "partials/testimonial";
@import "partials/signupfooter";
